.form {
    width: 100%;
    display: flex;
    border: 3px solid rgb(158, 184, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}
.input {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    border: none;
    height: 50px;
    padding-left: 10px;
    padding-right: 140px;
}
.input:active,
.input:focus {
    outline: none;
}
.sendButton {
    border: none;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    background-color: rgb(158, 184, 255);
    color: rgb(117, 132, 216);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 130px;
    position: absolute;
    right: 0;
    height: 100%;
}
.sendButton:hover {
    background-color: rgb(197, 209, 243);

}